<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="container">
    <ion-card-header>
      <ion-card-subtitle>Promocion del mes</ion-card-subtitle>
      <ion-card-title>Limpieza completa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Todo el mes de mayo obten un descuento
      en el servicio de limpieza completa.
      Incluye:
      <ul>
        <li>
          asdff
        </li>
        <li>
          asdfg
        </li>
      </ul>
    </ion-card-content>
    <div class="cont-b">
      <button class="btn">Agregar</button>
    </div>
  </ion-card>  
</ion-content>
