<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      menu principal 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cont-banner">
    <div class="banner-item">
      <img class="img-item" src="assets/images/Banner-1.png">
      <div class="texto-item">
          <p>
           Lorem ipsum dolor sit amet, 
           ntium magni modi incidunt.
           Earum minus quidem vitae 
           reiciendis. Nihil, quo.
          </p>
      </div>
   </div>
   <div class="banner-item">
    <img class="img-item" src="assets/images/Banner-1.png">
    <div class="texto-item">
        <p>
         Lorem ipsum dolor sit amet, 
         ntium magni modi incidunt.
         Earum minus quidem vitae 
         reiciendis. Nihil, quo.
        </p>
    </div>
    
 </div>
  </div>
  <app-explore-container name=""></app-explore-container>
</ion-content>
