<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Default Input -->
<ion-input></ion-input>

<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Paterno</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Materno</ion-label>
  <ion-input></ion-input>
</ion-item>



<!-- Number type input -->
<ion-input type="number" value="10">Edad:</ion-input>


<ion-list>
  <ion-radio-group value="grape">
    <ion-list-header>
      <ion-label>Sexo</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Masculino</ion-label>
      <ion-radio slot="start" color="success" value="apple"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Femenino</ion-label>
      <ion-radio slot="start" color="tertiary" value="grape"></ion-radio>
    </ion-item>
  </ion-radio-group>

  

   
</ion-list>

</ion-content>
